.table {
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

td,
th {
  border: 1px solid #747171;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  // even: chẳn
  background-color: #545454;
}
